{% extends 'base.html' %}

{% block content %}
<h1 class="display-4">Used Microsoft Office Suite ({{key_count}})</h1>
<hr>
<div class="d-flex justify-content-start gap-2">
    <a class="fw-bold text-dark"
        href="?no_assignment=1">Show Unassigned Keys</a>
    <a class="fw-bold text-dark"
        href="?">Show All Keys</a>
</div>
<br>
<div class="table-responsive">
    <table class="table table-hover table-sm small">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product key</th>
                <th scope="col">Version</th>
                <th scope="col">Computers</th>
            </tr>
        </thead>
        <tbody>
            {% for ob in object_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{{ob.get_absolute_url}}">{{ob}}</a></td>
                <td>{{ob.version}}</td>
                <td>
                    {% for computer in ob.assignments.all %}
                    {% for computer in computer.computers.all %}
                    <a href="{{computer.get_absolute_url}}">{{computer}}</a>
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of
            {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}