{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load md_extras %}

{% block content %}

<div class="d-lg-flex justify-content-center mx-3 gap-3">
    <div class="row col-lg-9 bg-light p-3 rounded-4 shadow"
        style="height: fit-content;">
        <h1>{{object.model}} | {{object.serial_number}}</h1>
        <hr>
        <p class="text-end me-3"><a class="edit-btn"
                href="{% url 'device-update' object.slug %}">Edit</a>
        </p><br>
        <div class="col-lg-6">
            <p><strong>Received: </strong>{{object.date_received}}</p>
            <p><strong>Serial#: </strong>{{object.serial_number}}</p>
            <p><strong>Name:
                </strong>{{object.name|default:"N/A"}}</p>
            <p><strong>IP address: </strong><a target="_blank"
                    href="http://{{object.ip_addr}}">{{object.ip_addr|default:"N/A"}}</a>
            </p>
            <p><strong>Status: </strong><span
                    class="text-bg-{{object.status.colour}} rounded-pill">{{object.status}}</span>
            </p>

            <p><strong>Installed: </strong>{{object.date_installed}}</p>
            <p><strong>Model: </strong><a
                    href="{{object.model.get_absolute_url}}">{{object.model.maker}}
                    {{object.model.name}}</a>
            </p>
            {% if object.image %}
            <p><strong>Att: </strong>{{object.image.url}}</p>
            {% endif %}
            <p><strong>Notes:
                </strong>{{object.notes|markdown|safe|default:'N/A'}}</p>
        </div>
        <div class="col-lg-6">
            <p><strong>Location: </strong>{{object.location}}</p>
            <p><strong>Department: </strong>{{object.department}}</p>
            <p><strong>Created:
                </strong><span>{{object.created_at}}
                    <a
                        href="{{object.created_by.get_absolute_url}}">{{object.created_by|lower}}</a></span>
            </p>
            <p> <span><strong>Updated:
                    </strong>{{object.updated_at}}
                    <a
                        href="{{object.updated_by.get_absolute_url}}">{{object.updated_by|lower}}</a></span>
            </p>
        </div>
    </div>
    <div
        class="row text-bg-light col-lg-3 rounded-4 shadow p-3 mt-2 mt-lg-0 ms-lg-3">
        <form action="{% url 'device-add-comment' object.slug %}"
            method="post">
            {% csrf_token %}
            {{comments_form|crispy}}
            <div class="text-end mb-4">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div>
            <h3>Comments</h3>
            <hr>
            {% for comment in object.comments.all %}
            <span>{{comment.comment|markdown|safe}} </span><br>
            <p class="text-end small"><a
                    href="{{comment.created_by.get_absolute_url}}"><span>{{comment.created_by}}</span></a>
                <span>{{comment.created_at}}</span>
            </p>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}