{% extends 'base.html' %}


{% block content %}
<div class="">
    <h1>{{object.name}} | {{object.maker}}</h1>
    <hr>
    <div class="col-lg-4 p-3 bg-white rounded-4 shadow mx-auto">
        <p class="text-end me-3"><a class="edit-btn"
                href="{% url 'device-model-update' object.slug %}">Edit</a>
        </p>
        <p><strong>Name: </strong>{{object.name}}</p>
        <p><strong>Maker:
            </strong>{{object.maker}}</p>
        {% if object.image %}
        <p><strong>Att: </strong><br><img class="rounded-4"
                width="100%"
                src="{{object.image.url}}"
                alt="{{object.image.url}}"></p>
        {% endif %}
        <hr>
        <p class="small text-muted"><strong>Created:
            </strong><span>{{object.created_at}}
                <a
                    href="{{object.created_by.get_absolute_url}}">{{object.created_by|lower}}</a></span>
        </p>
        <p class="small text-muted">
            <span><strong>Updated:
                </strong>{{object.updated_at}}
                <a
                    href="{{object.updated_by.get_absolute_url}}">{{object.updated_by|lower}}</a></span>
        </p>
        <hr>
        <ul>
            {% for printer in object.printers.all %}
            <a class="list"
                href="{{printer.get_absolute_url}}">
                <li>({{printer.serial_number}}) - {{printer}}
                    <ul>
                        <li>{{printer.department|title}}/{{printer.location|title}}
                        </li>
                    </ul>
                </li>
            </a>
            <br>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}