{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4 text-center"><a href="{% url 'ticket-list' %}">Tickets</a>
        ({{ticket_count}})</h1>
    <hr>
    <div class="text-center">
        {% if request.user.role == 'user' %}
        <a class="text-dark px-2"
            href="{% url 'ticket-user-create' %}">Add ticket</a>
        {% else %}
        <a class="text-dark px-2"
            href="{% url 'ticket-tech-create' %}">Add ticket</a>
        {% endif %}
    </div>
    <hr>
    <div class="py-3 d-flex justify-content-center">
        {% include 'tickets/includes/ticket-filter-form.html' %}
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ref#</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Status</th>
                    <th scope="col">Category</th>
                    <th scope="col">Assigned to</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a
                            href="{{ob.get_absolute_url}}">{{ob.ticket_id|upper}}</a>
                    </td>
                    <td><a
                            href="{{ob.get_absolute_url}}">{{ob.summary|truncatechars:50}}</a>
                    </td>
                    <td>{{ob.ticket_status|title}}</td>
                    <td>
                        {% for category in ob.ticket_category.all %}
                        {{category.name|capfirst}},
                        {% endfor %}
                    </td>
                    <td><a href="#">{{ob.assigned_to}}</a></td>
                    <td>
                        {% for user in ob.user.all %}
                        <a href="{{user.get_absolute_url}}">{{user}}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {% if is_paginated %}
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1&{{ query_params }}">&laquo; First</a>
            <a
                href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of 
                {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a
                href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Next</a>
            <a
                href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Last
                &raquo;</a>
            {% endif %}
        </span>
        {% endif %}
    </div>

{% endblock content %}