{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="display-4"><a href="{% url 'user-ticket-list' %}">Tickets</a> ({{ticket_count}})</h1>
    <hr>
    <div class="text-end">
        {% if request.user.role == 'user' %}
        <a class="edit-btn" href="{% url 'ticket-user-create' %}">Add ticket</a>
        {% else %}
        <a class="edit-btn" href="{% url 'ticket-tech-create' %}">Add ticket</a>
        {% endif %}
    </div>
    <div class="py-3 col-lg-8 mx-auto">
        <form method="get" class="select-form"
            action="">
            <br>
            <div class="d-flex justify-content-center gap-2">
                <div class="col-lg-8 mx-auto">
                    <input type="text"
                        class="form-control"
                        name="q"
                        placeholder="Search"
                        id="summary"
                        value="{{ request.GET.q }}">
                </div>
                <div>
                    <select name="ticket_status"
                        id="ticket_status"
                        class="form-control">
                        <option value="">Ticket status </option>
                        {% for status in statuses %}
                        <option value="{{ status.id }}"
                            {% if request.GET.ticket_status == status.id|stringformat:"s" %}selected
                            {% endif %}>
                            {{ status.name|upper }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ref#</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a
                            href="{{ob.get_absolute_url}}">{{ob.ticket_id|upper}}</a>
                    </td>
                    <td><a href="{{ob.get_absolute_url}}">{{ob.summary|truncatechars:30}}</a>
                    </td>
                    <td>{{ob.ticket_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {% if is_paginated %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&{{ query_params }}">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Last &raquo;</a>
                {% endif %}
            </span>
        {% endif %}
    </div>
</div>

{% endblock content %}