{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-lg-4 mx-auto p-5 shadow rounded-4 border bg-white">
        <h1>
            {% if object.pk %}
            {{object.ticket_id|upper}}
            {% else %}
            New Ticket
            {% endif %}
        </h1>
        <hr>
        <form action=""
            enctype="multipart/form-data"
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <!-- <span class="col">
                {{ form.summary|as_crispy_field }}
            </span>
            <span class="col">
                {{ form.description|as_crispy_field }}
            </span>
            <div class="col">
                <span>{{form.file|as_crispy_field}}</span>
            </div> -->
            <br>
            <div class="d-grid">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}