<form class="p-3 bg-white col-lg-4 rounded-4 shadow" method="get"
action="">
<div class="text-end mb-2">
    <a class="small text-muted" href="{{ request.path }}">reset</a>
</div>
    <div class="mb-2">
        <input type="text"
        class="form-control"
        name="q"
        placeholder="Search..."
        id="summary"
        value="{{ request.GET.q }}">
    </div>
    <div class="row">
        <div class="col-lg-6 mb-2 mb-2">
            <select name="ticket_status"
                id="ticket_status"
                class="form-control"
                onchange="this.form.submit();">
                <option value="">Ticket status </option>
                {% for status in statuses %}
                <option value="{{ status.id }}"
                {% if request.GET.ticket_status == status.id|stringformat:"s" %}selected
                {% endif %}>
                {{ status.name|upper }}
                </option>
                {% endfor %}
            </select>
        </div>
       
        <div class="col-lg-6 mb-2">
            <select id="ticket_users" name="ticket_users" class="form-control" onchange="this.form.submit();">
                <option value="" {% if not selected_users %}selected{% endif %}>Users</option>
                {% for user in users %}
                <option value="{{ user.id }}" {% if user.id in selected_users %}selected{% endif %}>
                {{ user }}
                </option>
                {% endfor %}
            </select>
        </div>
        </div>
       
        <div class="row">
        <div class="col-lg-6 mb-2">
            <select name="ticket_category" 
                id="ticket_category" 
                class="form-control" 
                onchange="this.form.submit();">
                <option value="" {% if not ticket_category %}selected{% endif %}>Category</option>
                {% for category in categories %}
                <option value="{{ category.id }}"
                {% if  request.GET.ticket_category == category.id|stringformat:"s"  %}
                selected
                {% endif %}>
                {{ category }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-6 mb-2">
            <select name="assigned_to"
                id="assigned_to"
                class="form-control"
                onchange="this.form.submit();">
                <option value="">Assigned</option>
                <option value="unassigned"
                {% if request.GET.assigned_to == 'unassigned' %}selected
                {% endif %}>Unassigned</option>
                {% for user in ict_users %}
                <option value="{{ user.id }}"
                {% if request.GET.assigned_to == user.id|stringformat:"s" %}selected
                {% endif %}>
                {{ user }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>

</form>

