{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="display-4"><a href="{% url 'computer-list' %}">Computers</a> ({{ computer_count }})</h1>
    <hr>
    <div class="py-3 col-lg-8 mx-auto">
        <!-- Filter Form -->
        <form class="select-form" method="get" action="">
            <div class="row">
                <div class="col">
                    <input type="text" name="query" class="form-control" placeholder="Computer name, Serial number, Notes..." value="{{ request.GET.serial_number }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <select class="form-control" name="status" onchange="this.form.submit()">
                        <option value="">Select Status</option>
                        {% for stat in statuses %}
                            <option value="{{ stat.id }}" {% if request.GET.status == stat.id|stringformat:"s" %}selected{% endif %}>{{ stat.name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" name="model">
                        <option value="">Select Model</option>
                        {% for model in models %}
                            <option value="{{ model.id }}" {% if request.GET.model == model.id|stringformat:"s" %}selected{% endif %}>{{ model.name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" name="os">
                        <option value="">Select Operating System</option>
                        {% for os in operating_systems %}
                            <option value="{{ os.id }}" {% if request.GET.os == os.id|stringformat:"s" %}selected{% endif %}>{{ os.name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <select class="form-control location" name="location">
                        <option value="">Select Location</option>
                        {% for location in locations %}
                            <option value="{{ location.id }}" {% if request.GET.location == location.id|stringformat:"s" %}selected{% endif %}>{{ location.name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="department form-control" name="department">
                        <option value="">Select Department</option>
                        {% for department in departments %}
                            <option value="{{ department.id }}" {% if request.GET.department == department.id|stringformat:"s" %}selected{% endif %}>{{ department.name|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-control user" name="user">
                        <option value="">Select User</option>
                        {% for user in users %}
                            <option value="{{ user.id }}" {% if request.GET.user == user.id|stringformat:"s" %}selected{% endif %}>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>

    <!-- Table -->
    <div class="table-responsive mt-4">
        <table class="table table-hover table-sm small">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Computer (Serial#)</th>
                    <th>Computer Type</th>
                    <th>Department</th>
                    <th>User</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for computer in computers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{{ computer.get_absolute_url }}">{{ computer.computer_name|upper }} ({{ computer.serial_number|upper }})</a>
                        </td>
                        <td>{{ computer.model.computer_type|upper }}</td>
                        <td>{{ computer.department }}</td>
                        <td>
                          {% for user in computer.user.all %}
                            <a href="">{{user}}</a>
                          {% endfor %}
                            
                        </td>
                        <td>{{computer.notes}}</td>
                    </tr>
                {% empty %}
                <tr><td class="text-center" colspan="4">No computers</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
      {% if is_paginated %}
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1&{{ query_params }}">&laquo; First</a>
                  <a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Previous</a>
              {% endif %}
  
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
  
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Last &raquo;</a>
              {% endif %}
          </span>
      {% endif %}
  </div>
  
</div>
{% endblock %}
