{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><a href="{% url 'computer-model-list' %}">Computer model list</a> ({{computer_model_count}})</h1>
    <br>
    <div class="text-end py-3">
        <a class="text-dark" href="{% url 'computer-model-create' %}">Add model</a>
    </div>
      <!-- Filter Form -->
      {% include 'computers/includes/computer_model_filter_form.html' %}
    <div class="table-responsive">
        <table class="table table-hover table-sm small fw-bold">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Maker</th>
                    <th scope="col">Processor</th>
                    <th scope="col">Type</th>
                    <th scope="col">Storage</th>
                    <th scope="col">RAM (GB)</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{ob.get_absolute_url}}">{{ob.name|upper}}</a></td>
                    <td>{{ob.maker|upper}}</td>
                    <td>{{ob.processor|upper}}</td>
                    <td>{{ob.computer_type|upper}}</td>
                    <td>{{ob.hdd}}</td>
                    <td>{{ob.ram}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page 
                {{ page_obj.number }} of 
                {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}