{% extends 'base.html' %}

{% block content %}
<h1 class="display-4 text-center"><a
        href="{% url 'computer-list' %}">Computers</a>
    ({{ computer_count }})</h1>
<hr>
<div class="text-center p-1 fw-bold">
    <a class="text-dark pe-1 link-body-emphasis"
        href="{% url 'computer-create' %}">Add computer</a>
    <a class="text-dark pe-1 link-body-emphasis"
        href="{% url 'computer-model-list' %}">Models</a>
    <a class="text-dark pe-1 link-body-emphasis"
        href="{% url 'monitor-list' %}">Monitors</a>
    <a class="text-dark pe-1 link-body-emphasis"
        href="{% url 'device-list' %}">Printers and Devices</a>
    <a class="text-dark pe-1 link-body-emphasis"
        href="{% url 'microsoft-office-list' %}">Office Suite</a>
</div>
<hr>

<div class="py-3">
    <!-- Filter Form -->
    {% include 'computers/includes/computer_filter_form.html' %}
</div>
<div class="row row-cols-1 row-cols-md-6 g-2">
    {% for computer in computers %}
    <a class="text-decoration-none"
        href="{{ computer.get_absolute_url }}">
        <div class="col">
            <div
                class="card rounded-4 {% if computer.status.name == 'RETIRED'  %} bg-secondary opacity-75 
                {% elif computer.status.name == 'NEEDS REPLACING' %} bg-warning opacity-75 
                {% elif computer.status.name == 'IN-REPAIR' %} bg-danger opacity-75
                {% elif computer.status.name == 'IN-USE' %} bg-success {% endif %}">
                <div class="card-body fw-bold">
                    <h5 class="card-title">{{computer.serial_number|upper|truncatechars:20}}
                    </h5>
                    <hr>
                    <p class="card-text text-muted">
                        {{computer.updated_by}} {{computer.updated_at}}</p>
                        <p class="fw-bold">{{computer.status}}</p>
                    <p class="card-text">{{computer.computer_name|upper|default:'unnamed'}}</p>
                    <p class="card-text"></p>
                    <p class="card-text">{{computer.os}}</p>
                    <p class="card-text">{{computer.model|linebreaks|truncatechars:38}}</p>
                    <p class="card-text">
                        {{computer.department}}, {{computer.location|linebreaks|truncatechars:40}}</p>
                    <p class="card-text">
                        {{computer.user.last|default:"unassigned"}}</p>
                    

                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<!-- Table -->
<!-- <div class="table-responsive mt-4">
        <table class="table table-hover table-sm small fw-bold">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Computer (Serial#)</th>
                    <th>Model</th>
                    <th>Computer Type</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Location</th>
                    <th>User</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for computer in computers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{{ computer.get_absolute_url }}">
                            {{ computer.computer_name|upper }}
                            ({{ computer.serial_number|upper }})</a>
                    </td>
                    <td>{{ computer.model|upper }}</td>
                    <td>{{ computer.model.computer_type|upper }}</td>
                    <td>{{ computer.status|upper }}</td>
                    <td>{{ computer.department }}</td>
                    <td>{{ computer.location }}</td>
                    <td>
                        {% for user in computer.user.all %}
                        <a href="">{{user}}</a>
                        {% endfor %}

                    </td>
                    <td>{{computer.notes|truncatechars:30}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="text-center"
                        colspan="7">No computers</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
<br>
{% include 'computers/includes/computer_list_pagination.html' %}
{% endblock %}