{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4 text-center"><a href="{% url 'computer-list' %}">Computers</a>
        ({{ computer_count }})</h1>
    <hr>
    <div class="text-center p-1 fw-bold">
        <a class="text-dark pe-1 link-body-emphasis"
            href="{% url 'computer-create' %}">Add computer</a>
        <a class="text-dark pe-1 link-body-emphasis"
            href="{% url 'computer-model-list' %}">Models</a>
        <a class="text-dark pe-1 link-body-emphasis"
            href="{% url 'monitor-list' %}">Monitors</a>
        <a class="text-dark pe-1 link-body-emphasis"
            href="{% url 'printer-list' %}">Printers</a>
        <a class="text-dark pe-1 link-body-emphasis"
            href="{% url 'microsoft-office-list' %}">Office Suite</a>
    </div>
    <hr>

    <div class="py-3">
        <!-- Filter Form -->
        {% include 'computers/includes/computer_filter_form.html' %}
    </div>

    <!-- Table -->
    <div class="table-responsive mt-4">
        <table class="table table-hover table-sm small fw-bold">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Computer (Serial#)</th>
                    <th>Computer Type</th>
                    <th>Department</th>
                    <th>User</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                {% for computer in computers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{{ computer.get_absolute_url }}">
                            {{ computer.computer_name|upper }}
                            ({{ computer.serial_number|upper }})</a>
                    </td>
                    <td>{{ computer.model.computer_type|upper }}</td>
                    <td>{{ computer.department }}</td>
                    <td>
                        {% for user in computer.user.all %}
                        <a href="">{{user}}</a>
                        {% endfor %}

                    </td>
                    <td>{{computer.notes|truncatechars:30}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="text-center"
                        colspan="6">No computers</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'computers/includes/computer_list_pagination.html' %}
{% endblock %}