{% extends 'base.html' %}

{% block content %}
<div class="py-2 small">
    <h1 class="display-4">Monitors</h1>
    <hr>
    <div class="py-3 col-lg-8 mx-auto">
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Serial#</th>
                    <th scope="col">Model</th>
                    <th scope="col">Computer</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{ob.get_absolute_url}}">{{ob.serial_number}}</a></td>
                    <td><a href="#">{{ob.model}}</a></td>
                    <td><a href="{{ob.monitors.last.get_absolute_url}}">{{ob.monitors.last}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if is_paginated %}<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock content %}