{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>
    {% if object.pk %}
    {{object.name}}
    {% else %}
    New Monitor Model
    {% endif %}
</h1>
<hr>
<form class="col-lg-4 mx-auto bg-white p-3 rounded-4 shadow"
    action=""
    method="post">
    {% csrf_token %}

    <div class="row">
        <span class="col">
            {{ form.name|as_crispy_field }}
        </span>
        <span class="col">
            {{ form.maker|as_crispy_field }}
        </span>
    </div>
    <div class="row">
        <span class="col">
            {{ form.image|as_crispy_field }}
        </span>
    </div>
    <div class="col">
        <span>{{form.notes|as_crispy_field}}</span>
    </div>
    <br>
    <div class="d-grid">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}