{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>
    {% if object.pk %}
    {{object.serial_number}}
    {% else %}
    New monitor
    {% endif %}
</h1>
<hr>
<form class="col-lg-4 bg-white p-3 rounded-4 shadow"
    action=""
    method="post">
    {% csrf_token %}

    <div class="row">
        <span class="col-lg-6">
            {{ form.date_received|as_crispy_field }}
        </span>
        <span class="col-lg-6">
            {{ form.serial_number|as_crispy_field }}
        </span>

    </div>
    <div class="row">
        <span class="col-lg-6">
            {{ form.model|as_crispy_field }}
        </span>
        <span class="col-lg-6">
            {{ form.date_installed|as_crispy_field }}
        </span>
    </div>

    <div class="col">
        <span>{{form.notes|as_crispy_field}}</span>
    </div>
    <br>
        <button type="submit">Submit</button>
</form>
{% endblock content %}