{% extends 'base.html' %}


{% block content %}
<div class="p-5">
    <h1>{{object.serial_number}} | {{object.model}}</h1>
    <hr>
    <div class="px-3">
        <p class="text-end me-3"><a
                class="edit-btn"
                href="{% url 'monitor-update' object.slug %}">Edit</a>
        </p>
        <p><strong>Received: </strong>{{object.date_received}}</p>
        <p><strong>Serial#: </strong>{{object.serial_number}}</p>
        <p><strong>Model: </strong>{{object.model}}</p>
        <p><strong>Notes: </strong>{{object.notes}}</p>
        <p><strong>Installed: </strong>{{object.date_installed}}</p>
        <hr>
        <p class="small text-muted"><strong>Created:
            </strong><span>{{object.created_at}} <a href="{{object.created_by.get_absolute_url}}">{{object.created_by}}</a></span>
           <span class="float-end"><strong>Updated: </strong>{{object.updated_at}} <a href="{object.updated_at.get_absolute_url}}">{{object.updated_by}}</a></span>
        </p>
    </div>
</div>
{% endblock content %}