{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="display-4">Monitor model list</h1>
    <hr>
    <div class="text-end">
        <a class="add-btn" href="{% url 'monitor-model-create' %}">Add model</a>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover table-sm small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Make</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{ob.get_absolute_url}}">{{ob.name}}</a></td>
                    <td>{{ob.maker}}</td>
                    <td>{{ob.notes|default:'N/A'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>


{% endblock content %}