{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5">
    <h1 class="display-4 text-center">Register</h1>
    <hr>
    <form action="" class="col-lg-4 mx-auto bg-white p-5 rounded-4"
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <div class="d-grid">
            <button type="submit">Login</button>
        </div>
        <br>
        <p class="text-end"> <a href="{% url 'forgot-password' %}">Forgot
            password</a></p>
    </form>
    <br>
   
</div>
{% endblock content %}