{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="p-3 col-lg-4 mx-auto bg-white rounded-4 border bg-white shadow">
    <h1>
        {% if object.pk %}
        {{object.name|upper}}
        {% else %}
        New transactions
        {% endif %}
    </h1>
    <hr>
    <form action=""
        method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <div class="d-grid">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}