{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="small">
    <div class="p-5">
        <h1>
            {% if object.pk %}
            {{object.name|upper}}
            {% else %}
            New transactions
            {% endif %}
        </h1>
        <hr>
        <form class="col-lg-6"
            action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="d-grid">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}