{% extends 'base.html' %}


{% block content %}
<h1 class="display-4">{{object}}</h1>
<br>
<div class="bg-white p-3 shadow rounded-4">
    <h3>Details</h3>
    <hr>
    <p><strong>Name: </strong>{{object.item.name}}</p>
    <p><strong>Type: </strong>{{object.transaction_type}}</p>
    <p><strong>Quantity: </strong>{{object.quantity}}</p>
    <p><strong>By: </strong>{{object.performed_by}}</p>
    <p><strong>Notes: </strong>{{object.notes|default:"----"}}</p>
    <p class="small text-muted"><strong>Created at: </strong>{{object.created_at}}</p>
</div>
{% endblock content %}