{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5">
    <h1>{{object.ticket_id|upper}}</h1>
    <br>
    <div class="row gap-3 bg-light p-5 shdow rounded-4">
        <div class="col">
            {% if not request.user.role == 'user' %}
            <p class="d-flex justify-content-end gap-2">

                {% if not object.is_closed %}

                <a class="edit-ticket"
                    href="{% url 'ticket-tech-update' object.slug %}">Edit</a>
                <a class="close-ticket"
                    href="{% url 'ticket-close' object.slug %}">Close</a>
                {% endif %}

            </p>
            {% else %}
            {% if not object.is_closed %}
            <p class="text-end me-3"><a class="edit-ticket"
                    href="{% url 'ticket-user-update' object.slug %}">Edit</a>
            </p>
            {% endif %}

            {% endif %}

            {% if object.file %}
            <a target="_blank"
                href="{{object.file.url}}">
                <img src="{{object.file.url}}"
                    alt="{{object.file.url}}"
                    class="img-fluid"
                    style="max-width: 18rem;">
            </a>
            <br><br>
            {% endif %}

            <p><strong>User(s): </strong>
                {% for user in object.user.all %}
                <a href="{{user.get_absolute_url}}">{{user}}</a>
                {% endfor %}
            </p>
            <p><strong>Summary: </strong>{{object.summary}}</p>
            <p><strong>Description: </strong><br>{{object.description}}</p>
            <p><strong>Status: </strong>{{object.ticket_status}}</p>
            <p><strong>Category: </strong>
                {% for category in object.ticket_category.all %}
                <span>{{category}},</span>
                {% endfor %}
            </p>
            <p><strong>Assigned to: </strong><a
                    href="{{object.assigned_to.get_absolute_url}}">{{object.assigned_to}}</a>
            </p>
            <p><strong>Created:
                </strong>{{object.created_at}} <a
                    href="{{object.created_by.get_absolute_url}}">{{object.created_by}}</a>
            </p>
            <p>
                <strong>Updated:
                </strong>{{object.updated_at}} <a
                    href="{object.updated_at.get_absolute_url}}">{{object.updated_by}}</a>
            </p>
            {% if not object.is_closed %}

            <p class="text-end"> <a class="delete-ticket"
                    href="{% url 'ticket-delete' object.slug %}">Delete</a>
            </p>
            {% endif %}
        
        </div>
        <div class="col-lg-4 border-start border-dark px-5">
            {% if object.pk %}
            {% if not object.is_closed %}
            <form action="{% url 'ticket-add-comment' object.slug %}"
                method="post">
                {% csrf_token %}
                {{comment_form|crispy}}
                <div class="text-end">
                    <button type="submit">Submit</button>
                </div>
            </form>
            {% endif %}
            
            {% if object.comments.all %}
                
                
            <br><br>
            <div>
                <h3>Comments</h3>
                <hr>
                {% for comment in object.comments.all %}
                <span>{{comment.comments}} </span><br>
                <p class="text-end small"><a
                        href="{{comment.created_by.get_absolute_url}}"><span>{{comment.created_by}}</span></a>
                    <span>{{comment.created_at}}</span>
                </p>
                <hr>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}