{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-6 mx-auto bg-white p-3 rounded-4 shadow">
    <h1>
        {% if object.pk %}
        Edit
        {% else %}
        New Notice
        {% endif %}
    </h1>
    <hr>
    <form 
        action=""
        method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                {{ form.expiration_date|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.priority|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            {{ form.post|as_crispy_field }}
        </div>
        <div class="row">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="row">
            {{ form.message|as_crispy_field }}
        </div>
        <br>
        <div class="d-grid">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}