{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="p-5">
        <h1>
            {% if object.pk %}
            Edit
            {% else %}
            New Notice
            {% endif %}
        </h1>
        <hr>
        <form class="col-lg-12" action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="text-end">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}