{% extends 'base.html' %}

{% load md_extras %}

{% block content %}

{% load humanize %}

{% if not request.user.is_authenticated %}
<div class="text-end px-5 bg-white">
    <a href="{% url 'login' %}"
        class=" rounded-pill my-2 px-5 fw-bold btn btn-info text-dark">Sign
        in</a>
</div>
{% endif %}
<div class="p-5">
    <form class="select-form"
        method="get">
        <div class="col-lg-4 mx-auto">
            <input class="form-control form-control-lg rounded-pill"
                type="text"
                name="notice"
                placeholder="Search notices"
                value="{{ request.GET.notice }}">
        </div>
    </form>
    <br>
    {% for ob in object_list %}
    <div class="d-flex justify-content-center">
        <div class="card shadow border-dark border-2"
            style="width: 32rem;">
            {% if ob.post %}
            <img src="{{ob.post.url}}"
                class="card-img-top"
                alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-text">{{ob.title|markdown|safe}}</h5>
                <p class="card-text">{{ob.message|markdown|safe}}</p>
                <p class="card-text text-end"><small class="text-muted">updated
                        {{ob.created_at|naturaltime}}</small></p>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock content %}