{% extends 'base.html' %}

{% load md_extras %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="text-end px-5 bg-white">
<a href="{% url 'login' %}"
    class=" rounded-pill my-2 px-5 fw-bold btn btn-info text-dark">Sign in</a>
</div>
{% endif %}

<div class="p-5">
    <form class="select-form"
        method="get">
        <div class="col-lg-4 mx-auto">
            <input class="form-control form-control-lg rounded-pill"
                type="text"
                name="notice"
                placeholder="Search notices"
                value="{{ request.GET.notice }}">
        </div>
        <br>
        <div class="col-lg-8 mx-auto">

            {% for ob in object_list %}
            <div class="bg-white border p-5 rounded-4 shadow">
                <p>{{ob.message|markdown|safe}}</p>
            </div>
            <br>
            {% empty %}
            <p class="text-center">No notices</p>
            {% endfor %}

        </div>
</div>

{% endblock content %}