{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1>Knowledge Base</h1>
    <hr>
    <a class="add-btn"
        href="{% url 'article-create' %}">Create Article</a>
    <div class="col-lg-4 mx-auto py-3">
        <form action=""
            method="get">
            <input type="text"
                name="q"
                placeholder="Search..."
                value="{{ request.GET.q }}">
                <br>
        </form>
    </div>
    <ul>
        {% for ob in object_list %}
        <li><a class="text-dark" href="{% url 'article-detail' ob.slug %}">{{ ob.title }}</a>
        </li>
        {% empty %}
        <p class="text-center">No articles found</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}