{% extends 'base.html' %}

{% block content %}
<h1>Knowledge Base</h1>
<hr>

<div class="col-lg-4 mx-auto py-3">
    <a class="add-btn"
    href="{% url 'article-create' %}">Create Article</a><br><br>
    <form action=""
        method="get">
        <input type="text"
            name="q"
            placeholder="Search..."
            value="{{ request.GET.q }}">
        <br>
    </form>
    {% for ob in object_list %}
<p>{{forloop.counter}}. <a class="text-dark fw-bold"
        href="{% url 'article-detail' ob.slug %}">{{ ob.title }}</a>
</p>
{% empty %}
<p class="text-center">No articles found</p>
{% endfor %}
</div>

{% endblock %}