{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="p-5 small">
    <div class="col-lg-8 mx-auto bg-white p-5 rounded-4 shadow">
        <h1>
            {% if object.pk %}
            {{object.title}}
            {% else %}
            New Article
            {% endif %}
        </h1>
        <hr>
        <form action=""
            method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="text-end">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}