<form class="select-form"
method="get">
<input class="form-control"
    type="text"
    name="search"
    placeholder="Search printers"
    value="{{ request.GET.search }}">
<br>

<div class="d-flex justify-content-center gap-2">
    <select name="model"
        class="form-control">
        <option value="">All Models</option>
        {% for model in models %}
        <option value="{{ model.id }}"
            {% if request.GET.model == model.id|stringformat:"s" %}
            selected
            {% endif %}>
            {{ model.name|upper }}
        </option>
        {% endfor %}
    </select>

    <select name="location"
        class="form-control">
        <option value="">All Locations</option>
        {% for location in locations %}
        <option value="{{ location.id }}"
            {% if request.GET.location == location.id|stringformat:"s" %} 
            selected {% endif %}>
            {{ location.name|upper }}
        </option>
        {% endfor %}
    </select>

    <select name="department"
        class="form-control">
        <option value="">All Departments</option>
        {% for department in departments %}
        <option value="{{ department.id }}"
            {% if request.GET.department == department.id|stringformat:"s" %}selected {% endif %}>
            {{ department.name|upper }}
        </option>
        {% endfor %}
    </select>

    <select name="status"
        class="form-control">
        <option value="">All Statuses</option>
        {% for status in statuses %}
        <option value="{{ status.id }}"
            {% if request.GET.status == status.id|stringformat:"s" %}
            selected 
            {% endif %}>
            {{ status.name }}
        </option>
        {% endfor %}
    </select>
</div>
<br>
<div class="text-end">
    <button type="submit">Filter</button>
</div>
</form>