{% load static %}

{% load pwa %}

<!doctype html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery-3.7.1.slim.js' %}"></script>
    <link rel="stylesheet"
        href="{% static 'css/select2.min.css' %}">
    <script src="{% static 'js/select2.min.js'%}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <link rel="icon"
        href="{% static 'images/favicon.ico' %}"
        type="image/x-icon">
    <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'css/styles.css' %}">
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>IT Unit Inventory - DIPT</title>
</head>

<body class="small bg-info">
    {% if request.user.is_authenticated %}
    {% include 'nav.html' %}
    {% else %}
    <div class="text-end p-3 bg-white">
        <a href="{% url 'login' %}"
            class="fw-bold text-dark">Sign
            in</a>
    </div>
    {% endif %}
    <br><br>
    {% include 'messages.html' %}
    <div class="small container-fluid min-vh-100">
        {% if request.user.is_authenticated %}
        <div class="d-flex justify-content-between mx-4"
            style="z-index: 10000;">
            <a href="#"
                onclick="history.back()"> <img class=""
                    src="{% static 'svg/arrow_back.svg' %}"
                    alt="{% static 'svg/ticket.svg' %}"></a>

            <a href="#"
                onclick="history.forward()"> <img class="me-2"
                    src="{% static 'svg/arrow_forward.svg' %}"
                    alt="{% static 'svg/ticket.svg' %}"></a>


        </div><br><br>
        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
    {% include 'footer.html' %}

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>