{% load static %}


{% if request.user.role == 'user' %}

<div class="fixed-top">
    <header class="p-3 bg-white border-bottom">
        <div class="container">
            <div
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                    class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-lg-5">
                    <h3 class="fw-bold">ICT Unit - DIPT</h3>
                </a>

                <ul
                    class="fw-bold nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/"
                            class="nav-link px-2 link-body-emphasis">Home</a>
                    </li>
                    <li><a href="{% url 'user-ticket-list' %}"
                            class="nav-link px-2 link-body-emphasis">Tickets</a>
                    </li>
                </ul>
                <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> -->
                <div class="dropdown text-end">
                    <a href="#"
                        class="fw-bold d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{request.user}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item small fw-bold"
                                href="{% url 'user-detail' %}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item small fw-bold"
                                href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
{% else %}
<div class="fixed-top">
    <header class="bg-white p-3 border-bottom">
        <div class="container">
            <div
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                    class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-lg-5">
                    <h3 class="fw-bold">ICT Unit - DIPT</h3>
                </a>

                <ul
                    class="fw-bold nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/"
                            class="nav-link px-2 link-body-emphasis">Home</a>
                    </li>
                    <li><a href="{% url 'ticket-list' %}"
                            class="nav-link px-2 link-body-emphasis">Tickets</a>
                    </li>
                    <li><a href="{% url 'computer-list' %}"
                            class="nav-link px-2 link-body-emphasis">Computers</a>
                    </li>
                    <li><a href="{% url 'monitor-list' %}"
                            class="nav-link px-2 link-body-emphasis">Monitors</a>
                    </li>
                    <li><a href="{% url 'microsoft-office-list' %}"
                            class="nav-link px-2 link-body-emphasis">Office
                            Install</a>
                    </li>
                    <li><a href="{% url 'printer-list' %}"
                            class="nav-link px-2 link-body-emphasis">Printers</a>
                    </li>
                    <li><a href="{% url 'user-list' %}"
                            class="nav-link px-2 link-body-emphasis">Users</a>
                    </li>
                    <li><a href="{% url 'notice-list' %}"
                            class="nav-link px-2 link-body-emphasis">Notices</a>
                    </li>
                    <li><a href="{% url 'stock-list' %}"
                            class="nav-link px-2 link-body-emphasis">Stock</a>
                    </li>
                </ul>
                <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> -->
                <div class="dropdown text-end">
                    <a href="#"
                        class="fw-bold d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{request.user}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item small fw-bold"
                                href="{% url 'user-detail' %}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item small fw-bold"
                                href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
{% endif %}