{% load static %}

<nav class="navbar navbar-white bg-white"
    aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold"
            href="/">ICT Unit - DIPT</a>
        {% if request.user.is_user %}
        <a class="text-dark text-decoration-none"
            href="{% url 'ticket-user-create' %}"> <img class="me-2"
                src="{% static 'svg/add-ticket.svg' %}"
                alt="{% static 'svg/add-ticket.svg' %}"></a>
        <a class="text-dark text-decoration-none"
            href="{% url 'user-ticket-list' %}"> <img class="me-2"
                src="{% static 'svg/ticket.svg' %}"
                alt="{% static 'svg/ticket.svg' %}"></a>
        {% else %}
        <a class="text-dark text-decoration-none"
            href="{% url 'ticket-tech-create' %}"> <img class="me-2"
                src="{% static 'svg/add-ticket.svg' %}"
                alt="{% static 'svg/add-ticket.svg' %}"></a>
        <a class="text-dark text-decoration-none"
            href="{% url 'ticket-list' %}"> <img class="me-2"
                src="{% static 'svg/ticket.svg' %}"
                alt="{% static 'svg/ticket.svg' %}"></a>
        <a class="text-dark text-decoration-none"
            href="{% url 'computer-list' %}"> <img class="me-2"
                src="{% static 'svg/computer.svg' %}"
                alt="{% static 'svg/computer.svg' %}"></a>
        {% endif %}

        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbarDark"
            aria-controls="offcanvasNavbarDark"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-white"
            tabindex="-1"
            id="offcanvasNavbarDark"
            aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"
                    id="offcanvasNavbarDarkLabel">ICT Unit - DIPT</h5>
                <button type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <hr>
            <div class="offcanvas-body">
                <ul
                    class="navbar-nav justify-content-end flex-grow-1 pe-3 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link active"
                            aria-current="page"
                            href="/">Home</a>
                    </li>
                    {% if request.user.is_user %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'user-ticket-list' %}">
                            <img class="me-2"
                                src="{% static 'svg/ticket.svg' %}"
                                alt="{% static 'svg/ticket.svg' %}">
                            Tickets</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'ticket-list' %}">
                            <img class="me-2"
                                src="{% static 'svg/ticket.svg' %}"
                                alt="{% static 'svg/ticket.svg' %}">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'computer-list' %}"> <img class="me-2"
                                src="{% static 'svg/computer.svg' %}"
                                alt="{% static 'svg/computer.svg' %}">Computers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'monitor-list' %}"><img class="me-2"
                                src="{% static 'svg/monitor.svg' %}"
                                alt="{% static 'svg/monitor.svg' %}">Monitors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'microsoft-office-list' %}"><img
                                class="me-2"
                                src="{% static 'svg/office-key.svg' %}"
                                alt="{% static 'svg/office-key.svg' %}">Office
                            Suite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'device-list' %}"><img class="me-2"
                                src="{% static 'svg/printer.svg' %}"
                                alt="{% static 'svg/printer.svg' %}">Printers
                            and Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'user-list' %}"><img class="me-2"
                                src="{% static 'svg/users.svg' %}"
                                alt="{% static 'svg/users.svg' %}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'notice-list' %}"><img class="me-2"
                                src="{% static 'svg/notice.svg' %}"
                                alt="{% static 'svg/notice.svg' %}">Notices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'stock-list' %}"><img class="me-2"
                                src="{% static 'svg/stock.svg' %}"
                                alt="{% static 'svg/stock.svg' %}">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'article-list' %}"><img class="me-2"
                                src="{% static 'svg/knowledge-base.svg' %}"
                                alt="{% static 'svg/knowledge-base.svg' %}">Knowledge
                            Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'reports' %}"><img class="me-2"
                                src="{% static 'svg/reports.svg' %}"
                                alt="{% static 'svg/reports.svg' %}">Reports
                        </a>
                    </li>
                    {% endif %}
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'user-detail' %}"><img class="me-2"
                                src="{% static 'svg/user.svg' %}"
                                alt="{% static 'svg/user.svg' %}">{{request.user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{% url 'logout' %}"><img class="me-2"
                                src="{% static 'svg/logout.svg' %}"
                                alt="{% static 'svg/logout.svg' %}">Sign
                            out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>