{% if request.user.role == 'technician' or request.user.role == 'manager' %}
<h3 class="pt-2 fw-bold"><a href="/">ICT Unit - DIPT</a></h3>
<hr>
<ul class="fw-bold">
    <li><a href="{% url 'ticket-list' %}">Tickets</a>
        <ul>
            <li><a href="{% url 'ticket-tech-create' %}">Add ticket</a></li>

        </ul>
    </li>
    <hr>
    <li><a href="{% url 'computer-list' %}">Computers</a>
        <ul>
            <li><a href="{% url 'computer-create' %}">Add computer</a></li>
            <li><a href="{% url 'computer-model-list' %}">Models</a></li>
            <ul>
                <li><a href="{% url 'computer-model-create' %}">Add model</a>
                </li>
            </ul>
        </ul>
    </li>
    <hr>
    <li><a href="{% url 'microsoft-office-list' %}">Office Suite</a></li>
    <ul>
        <li><a href="{% url 'microsoft-office-assign-list' %}">Used</a></li>
        <li><a href="{% url 'microsoft-office-create' %}">Add</a></li>
    </ul>
    <hr>
    <li><a href="{% url 'monitor-list' %}">Monitors</a>
        <ul>
            <li><a href="{% url 'monitor-create' %}">Add monitor</a></li>
            <li><a href="{% url 'monitor-model-list' %}">Models</a></li>
            <ul>
                <li><a href="{% url 'monitor-model-create' %}">Add model</a>
                </li>
            </ul>
        </ul>
    </li>
    <hr>
    <li><a href="{% url 'printer-list' %}">Printers</a>
        <ul>
            <li><a href="{% url 'printer-create' %}">Add printer</a></li>
            <li><a href="{% url 'printer-model-list' %}">Models</a></li>
            <ul>
                <li><a href="{% url 'printer-model-create' %}">Add model</a>
                </li>
            </ul>
        </ul>
    </li>
    <hr>
    <li><a href="{% url 'user-detail' %}">{{request.user}}</a>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
</ul>
{% else %}
<h3 class="pt-2 fw-bold"><a href="{% url 'user-ticket-list' %}">ICT Unit -
        DIPT</a></h3>
<hr>
<ul class="fw-bold">
    <li><a href="{% url 'user-ticket-list' %}">Tickets</a></li>
    <ul>

        <li><a href="{% url 'ticket-user-create' %}">Add ticket</a></li>
    </ul>
    <hr>
    <li><a href="{% url 'user-detail' %}">{{request.user}}</a>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
</ul>
{% endif %}